# Idea

Want to create a program which can tell me what items from the tinkers workship can be created in prehardmode

Steps:

- get list of prehard mode only items
- get list of hardmode only items
- get recipies from tinkers workshop
- add if ingredient is a prehard mode or hardmode item
- if all ingred are prehard more then result is prehardmode item

end phase 1- just list of the prehardmode results with reciepies

end phase 2- type items into and get result

end phase 3- itendify the missing items for results with links to corresponding objects

In [1]:
#allow code blocks to display multiple outputs in single block
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
url_fake = 'http://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html'
url_prehardmode='https://terraria.fandom.com/wiki/Pre-Hardmode_items'
url_tinker='https://terraria.fandom.com/wiki/Tinkerer%27s_Workshop'
url_dataID='https://terraria.fandom.com/wiki/Data_IDs'


url=url_fake
url_ph=url_prehardmode
url_t=url_tinker
url_d=url_dataID

# Test

In [4]:
"""# https://www.learnbyexample.org/python-nested-dictionary/#:~:text=Merge%20Two%20Nested%20Dictionaries%20Use%20the%20built-in%20update,of%20the%20same%20key%20if%20there%E2%80%99s%20a%20clash.
IDs=[]
for i in len(itemID):
    IDS[i]=itemID[i]["ID"]
"""

'# https://www.learnbyexample.org/python-nested-dictionary/#:~:text=Merge%20Two%20Nested%20Dictionaries%20Use%20the%20built-in%20update,of%20the%20same%20key%20if%20there%E2%80%99s%20a%20clash.\nIDs=[]\nfor i in len(itemID):\n    IDS[i]=itemID[i]["ID"]\n'

# scraper

https://stackoverflow.com/questions/42863834/how-to-scrape-data-from-html-table-in-python


https://stackoverflow.com/questions/17126686/extracting-data-from-html-with-python#:~:text=tabulka%20%3D%20subpage.find%20%28%22table%22%29%20for%20row%20in%20tabulka.findAll,array.%20Html%20above%20is%20a%20result%20from%20python.

https://www.geeksforgeeks.org/rule-based-data-extraction-in-html-using-python-textminer-module/

import pandas as pd #1.3.4
import bs4 #4.10.0
print(bs4.__version__)
print(pd.__version__)

import pandas as pd
import html5lib
import ssl

ssl._create_default_https_context = ssl._create_unverified_context
df_ph=pd.read_html(url_ph)
df_ph

In [6]:
df_t =pd.read_html(url_t)

"""for i in range(len(df_t)):
    df_t[i]"""

'for i in range(len(df_t)):\n    df_t[i]'

## Problem is that the incrediants are all clumped together also the tables are essentailly doubled

In [7]:
df_t2= pd.read_html(url_t, match="Ingredients")

print("there are : ", len(df_t2), "tables")

for i in range(len(df_t2)):
    df_t2[i]

there are :  4 tables

,0,1
0,Tinkerer's WorkshopResultIngredientsAmber Hors...,NaN
1,Result,Ingredients
2,Amber Horseshoe Balloon,Honey BalloonLucky Horseshoe
3,Amphibian Boots,Sailfish BootsFrog Leg
4,Angler Tackle Bag,High Test Fishing LineTackle BoxAngler Earring
...,...,...
114,Yoyo Bag,White StringYoyo GloveBlue Counterweight
115,Yoyo Bag,White StringYoyo GloveGreen Counterweight
116,Yoyo Bag,White StringYoyo GlovePurple Counterweight
117,Yoyo Bag,White StringYoyo GloveRed Counterweight
118,Yoyo Bag,White StringYoyo GloveYellow Counterweight

,Result,Ingredients
0,Amber Horseshoe Balloon,Honey BalloonLucky Horseshoe
1,Amphibian Boots,Sailfish BootsFrog Leg
2,Angler Tackle Bag,High Test Fishing LineTackle BoxAngler Earring
3,Ankh Charm,Armor BracingMedicated BandageThe PlanCounterc...
4,Ankh Shield,Obsidian ShieldAnkh Charm
...,...,...
112,Yoyo Bag,White StringYoyo GloveBlue Counterweight
113,Yoyo Bag,White StringYoyo GloveGreen Counterweight
114,Yoyo Bag,White StringYoyo GlovePurple Counterweight
115,Yoyo Bag,White StringYoyo GloveRed Counterweight
116,Yoyo Bag,White StringYoyo GloveYellow Counterweight

,0,1
0,Tinkerer's Workshop and Ecto MistResultIngredi...,NaN
1,Result,Ingredients
2,Band of Starpower ( ),Panic NecklaceMana Crystal
3,Music Box (Alt Title),Music Box (Desert)Music Box (Ice)Music Box (Sp...
4,Panic Necklace ( ),Band of StarpowerLife Crystal

                  Result                                        Ingredients
0  Band of Starpower ( )                         Panic NecklaceMana Crystal
1  Music Box (Alt Title)  Music Box (Desert)Music Box (Ice)Music Box (Sp...
2     Panic Necklace ( )                      Band of StarpowerLife Crystal

In [8]:
df_t2= pd.read_html(url_t, match="Ingredients", header=1)

print("there are : ", len(df_t2), "tables")

for i in range(len(df_t2)):
    df_t2[i]

there are :  4 tables

,Result,Ingredients
0,Amber Horseshoe Balloon,Honey BalloonLucky Horseshoe
1,Amphibian Boots,Sailfish BootsFrog Leg
2,Angler Tackle Bag,High Test Fishing LineTackle BoxAngler Earring
3,Ankh Charm,Armor BracingMedicated BandageThe PlanCounterc...
4,Ankh Shield,Obsidian ShieldAnkh Charm
...,...,...
112,Yoyo Bag,White StringYoyo GloveBlue Counterweight
113,Yoyo Bag,White StringYoyo GloveGreen Counterweight
114,Yoyo Bag,White StringYoyo GlovePurple Counterweight
115,Yoyo Bag,White StringYoyo GloveRed Counterweight
116,Yoyo Bag,White StringYoyo GloveYellow Counterweight

    Amber Horseshoe Balloon                       Honey BalloonLucky Horseshoe
0           Amphibian Boots                             Sailfish BootsFrog Leg
1         Angler Tackle Bag     High Test Fishing LineTackle BoxAngler Earring
2                Ankh Charm  Armor BracingMedicated BandageThe PlanCounterc...
3               Ankh Shield                          Obsidian ShieldAnkh Charm
4             Arcane Flower                            Mana FlowerPutrid Scent
..                      ...                                                ...
111                Yoyo Bag           White StringYoyo GloveBlue Counterweight
112                Yoyo Bag          White StringYoyo GloveGreen Counterweight
113                Yoyo Bag         White StringYoyo GlovePurple Counterweight
114                Yoyo Bag            White StringYoyo GloveRed Counterweight
115                Yoyo Bag         White StringYoyo GloveYellow Counterweight

[116 rows x 2 columns]

                  Result                                        Ingredients
0  Band of Starpower ( )                         Panic NecklaceMana Crystal
1  Music Box (Alt Title)  Music Box (Desert)Music Box (Ice)Music Box (Sp...
2     Panic Necklace ( )                      Band of StarpowerLife Crystal

   Band of Starpower ( )                         Panic NecklaceMana Crystal
0  Music Box (Alt Title)  Music Box (Desert)Music Box (Ice)Music Box (Sp...
1     Panic Necklace ( )                      Band of StarpowerLife Crystal

# Set up psudeo data set and make the second part of program

In [22]:
"""
modes: (aka trigger event)

Nothing (avalible from day 1)

king slime

eye chuthulu

eater/brain

skelotron

old one army

queen bee

goblin army

wall of flesh

The twins
skeletron prime
the destroyer
duke fishron

pirate invasion

plantera
golem

lunatic cultist/lunar events/ moon lord
"""

fake_goalitemID_MODE={ #  OBJ#:{"ID": <int>, "Internal Name": <str>, "Mode" = boolean}
    1: {"Name": "Iron Pickaxe", "mode": 0}
}

fake_itemID= { # item ID: P{}
    1: {"Name": "Iron Pickaxe",  "Internal Name": "IronPickaxe"},
    2: {"Name": "Dirt Block",  "Internal Name": "DirtBlock"}
    
}

fake_itemMODE = {
    4: {"Name": "Iron Pickaxe", "mode":0}

}
fake_recipie = {
    1: {"Amber": "Horseshoe", "Ingredients":["Honey Ballon", "Lucky Horseshoe"]}
}

'\nmodesV\n'

In [ ]:
,Result,Ingredients
0,Amber Horseshoe Balloon,Honey Balloon,Lucky Horseshoe
1,Amphibian Boots,Sailfish Boots,Frog Leg
2,Angler Tackle Bag,High Test Fishing Line,Tackle Box,Angler Earring
3,Ankh Charm,Armor Bracing,Medicated Bandage,The Plan,Countercurse Mantra,Blindfold
4,Ankh Shield,Obsidian Shield,Ankh Charm