# Idea

Want to create a program which can tell me what items from the tinkers workship can be created in prehardmode

Steps:

- get list of prehard mode only items
- get list of hardmode only items
- get recipies from tinkers workshop
- add if ingredient is a prehard mode or hardmode item
- if all ingred are prehard more then result is prehardmode item

end phase 1- just list of the prehardmode results with reciepies
end phase 2- type items into and get result
end phase 3- itendify the missing items for results with links to corresponding objects

In [1]:
#allow code blocks to display multiple outputs in single block
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
url = 'http://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html'
url1='https://terraria.fandom.com/wiki/Pre-Hardmode_items'
url2='https://terraria.fandom.com/wiki/Tinkerer%27s_Workshop'

# Test

In [3]:
#mode==0 means pre hard mode, #mode ==1, hardmode

goalitemID_MODE={ #  OBJ#:{"ID": <int>, "Name": <str>, "Internal Name": <str>, "Mode" = boolean}
    1: {"Name": "Iron Pickaxe",  "Internal Name": "IronPickaxe", "mode": 0}
}

itemID= { # item ID: P{}
    1: {"Name": "Iron Pickaxe",  "Internal Name": "IronPickaxe"},
    2 :{"Name": "Dirt Block",  "Internal Name": "DirtBlock"}
    
}

itemMODE = {
    4: {"Name": "Iron Pickaxe", "mode":0}

}

In [4]:
"""# https://www.learnbyexample.org/python-nested-dictionary/#:~:text=Merge%20Two%20Nested%20Dictionaries%20Use%20the%20built-in%20update,of%20the%20same%20key%20if%20there%E2%80%99s%20a%20clash.
IDs=[]
for i in len(itemID):
    IDS[i]=itemID[i]["ID"]
"""

'# https://www.learnbyexample.org/python-nested-dictionary/#:~:text=Merge%20Two%20Nested%20Dictionaries%20Use%20the%20built-in%20update,of%20the%20same%20key%20if%20there%E2%80%99s%20a%20clash.\nIDs=[]\nfor i in len(itemID):\n    IDS[i]=itemID[i]["ID"]\n'

# scraper

https://stackoverflow.com/questions/42863834/how-to-scrape-data-from-html-table-in-python


https://stackoverflow.com/questions/17126686/extracting-data-from-html-with-python#:~:text=tabulka%20%3D%20subpage.find%20%28%22table%22%29%20for%20row%20in%20tabulka.findAll,array.%20Html%20above%20is%20a%20result%20from%20python.

https://www.geeksforgeeks.org/rule-based-data-extraction-in-html-using-python-textminer-module/

In [ ]:
# website test
# http://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html

In [15]:
dd

[    Symbol       Security SEC filings             GICS Sector  \
 0      MMM             3M     reports             Industrials
 1      AOS    A. O. Smith     reports             Industrials
 2      ABT         Abbott     reports             Health Care
 3     ABBV         AbbVie     reports             Health Care
 4     ABMD        Abiomed     reports             Health Care
 ..     ...            ...         ...                     ...
 499    YUM    Yum! Brands     reports  Consumer Discretionary
 500   ZBRA          Zebra     reports  Information Technology
 501    ZBH  Zimmer Biomet     reports             Health Care
 502   ZION  Zions Bancorp     reports              Financials
 503    ZTS         Zoetis     reports             Health Care

                       GICS Sub-Industry    Headquarters Location  \
 0              Industrial Conglomerates    Saint Paul, Minnesota
 1                     Building Products     Milwaukee, Wisconsin
 2                 Health Care Equipment  North Chicago, Illinois
 3                       Pharmaceuticals  North Chicago, Illinois
 4                 Health Care Equipment   Danvers, Massachusetts
 ..                                  ...                      ...
 499                         Restaurants     Louisville, Kentucky
 500  Electronic Equipment & Instruments   Lincolnshire, Illinois
 501               Health Care Equipment          Warsaw, Indiana
 502                      Regional Banks     Salt Lake City, Utah
 503                     Pharmaceuticals   Parsippany, New Jersey

     Date first added      CIK      Founded
 0         1976-08-09    66740         1902
 1         2017-07-26    91142         1916
 2         1964-03-31     1800         1888
 3         2012-12-31  1551152  2013 (1888)
 4         2018-05-31   815094         1981
 ..               ...      ...          ...
 499       1997-10-06  1041061         1997
 500       2019-12-23   877212         1969
 501       2001-08-07  1136869         1927
 502       2001-06-22   109380         1873
 503       2013-06-21  1555280         1952

 [504 rows x 9 columns],
                   Date  Added                                Removed  \
                   Date Ticker                       Security  Ticker
 0        April 4, 2022    CPT                         Camden    PBCT
 1        March 2, 2022    MOH              Molina Healthcare    INFO
 2    February 15, 2022   NDSN                        Nordson    XLNX
 3     February 3, 2022    NaN                            NaN     GPS
 4     February 2, 2022    CEG           Constellation Energy     NaN
 ..                 ...    ...                            ...     ...
 292   December 5, 2000    ABK                Ambac Financial     CCK
 293      July 27, 2000   JDSU                   JDS Uniphase     RAD
 294       June 7, 2000   SBUX                      Starbucks     SMS
 295   December 7, 1999   YHOO                         Yahoo!     LDW
 296      June 17, 1997    CCI  Countrywide Credit Industries     USL

                                 \
                       Security
 0    People's United Financial
 1                   IHS Markit
 2                       Xilinx
 3                          Gap
 4                          NaN
 ..                         ...
 292             Crown Holdings
 293                    RiteAid
 294     Shared Medical Systems
 295                    Laidlaw
 296                     USLife

                                                 Reason
                                                 Reason
 0    S&P 500 constituent M&T Bank Corp. acquired Pe...
 1    S&P 500 constituent S&P Global Inc. acquired I...
 2    S&P 500 constituent Advanced Micro Devices acq...
 3                     Market capitalization change.[9]
 4    S&P 500 and 100 constituent Exelon Corp. spun ...
 ..                                                 ...
 292                                Market Cap changes.
 293                            Market Cap change.[228]
 294   Siemens AG acquired Shared Medical Systems.[229]
 295                 Market capitalization change.[230]
 296                           AIG aquired USLife.[231]

 [297 rows x 6 columns]]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
...,...,...,...,...,...,...,...,...,...
499,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
503,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [5]:
import pandas as pd
import html5lib
import ssl

#ssl._create_default_https_context = ssl._create_unverified_context
"""df_ph=pd.read_html(url1)
df_ph"""

ValueError: No tables found

In [6]:
df_t =pd.read_html(url2)

,0,1
0,Tinkerer's WorkshopResultIngredientsAmber Hors...,NaN
1,Result,Ingredients
2,Amber Horseshoe Balloon,Honey BalloonLucky Horseshoe
3,Amphibian Boots,Sailfish BootsFrog Leg
4,Angler Tackle Bag,High Test Fishing LineTackle BoxAngler Earring
...,...,...
114,Yoyo Bag,White StringYoyo GloveBlue Counterweight
115,Yoyo Bag,White StringYoyo GloveGreen Counterweight
116,Yoyo Bag,White StringYoyo GlovePurple Counterweight
117,Yoyo Bag,White StringYoyo GloveRed Counterweight
118,Yoyo Bag,White StringYoyo GloveYellow Counterweight

In [7]:
print(df_t)

[           0                                         1
0       Type                 FurnitureCrafting station
1  Placeable                      ✔️ (3 wide × 2 high)
2   Use time                            15 (Very fast)
3    Tooltip  Allows the combining of some accessories
4     Rarity                                       NaN
5        Buy                                        10
6       Sell                                         2
7   Research                                1 required,                                                      0  \
0    Tinkerer's WorkshopResultIngredientsAmber Hors...
1                                               Result
2                              Amber Horseshoe Balloon
3                                      Amphibian Boots
4                                    Angler Tackle Bag
..                                                 ...
114                                           Yoyo Bag
115                                           Yoyo Bag
116                                           Yoyo Bag
117                                           Yoyo Bag
118                                           Yoyo Bag

                                                  1
0                                               NaN
1                                       Ingredients
2                      Honey BalloonLucky Horseshoe
3                            Sailfish BootsFrog Leg
4    High Test Fishing LineTackle BoxAngler Earring
..                                              ...
114        White StringYoyo GloveBlue Counterweight
115       White StringYoyo GloveGreen Counterweight
116      White StringYoyo GlovePurple Counterweight
117         White StringYoyo GloveRed Counterweight
118      White StringYoyo GloveYellow Counterweight

[119 rows x 2 columns],                       Result  \
0    Amber Horseshoe Balloon
1            Amphibian Boots
2          Angler Tackle Bag
3                 Ankh Charm
4                Ankh Shield
..                       ...
112                 Yoyo Bag
113                 Yoyo Bag
114                 Yoyo Bag
115                 Yoyo Bag
116                 Yoyo Bag

                                           Ingredients
0                         Honey BalloonLucky Horseshoe
1                               Sailfish BootsFrog Leg
2       High Test Fishing LineTackle BoxAngler Earring
3    Armor BracingMedicated BandageThe PlanCounterc...
4                            Obsidian ShieldAnkh Charm
..                                                 ...
112           White StringYoyo GloveBlue Counterweight
113          White StringYoyo GloveGreen Counterweight
114         White StringYoyo GlovePurple Counterweight
115            White StringYoyo GloveRed Counterweight
116         White StringYoyo GloveYellow Counterweight

[117 rows x 2 columns],                                                    0  \
0  Tinkerer's Workshop and Ecto MistResultIngredi...
1                                             Result
2                               Band of Starpower ()
3                              Music Box (Alt Title)
4                                  Panic Necklace ()

                                                   1
0                                                NaN
1                                        Ingredients
2                         Panic NecklaceMana Crystal
3  Music Box (Desert)Music Box (Ice)Music Box (Sp...
4                      Band of StarpowerLife Crystal  ,                   Result                                        Ingredients
0   Band of Starpower ()                         Panic NecklaceMana Crystal
1  Music Box (Alt Title)  Music Box (Desert)Music Box (Ice)Music Box (Sp...
2      Panic Necklace ()                      Band of StarpowerLife Crystal]

In [10]:
for i in range(len(df_t)):
    df_t[i]

           0                                         1
0       Type                 FurnitureCrafting station
1  Placeable                      ✔️ (3 wide × 2 high)
2   Use time                            15 (Very fast)
3    Tooltip  Allows the combining of some accessories
4     Rarity                                       NaN
5        Buy                                        10
6       Sell                                         2
7   Research                                1 required

,0,1
0,Tinkerer's WorkshopResultIngredientsAmber Hors...,NaN
1,Result,Ingredients
2,Amber Horseshoe Balloon,Honey BalloonLucky Horseshoe
3,Amphibian Boots,Sailfish BootsFrog Leg
4,Angler Tackle Bag,High Test Fishing LineTackle BoxAngler Earring
...,...,...
114,Yoyo Bag,White StringYoyo GloveBlue Counterweight
115,Yoyo Bag,White StringYoyo GloveGreen Counterweight
116,Yoyo Bag,White StringYoyo GlovePurple Counterweight
117,Yoyo Bag,White StringYoyo GloveRed Counterweight
118,Yoyo Bag,White StringYoyo GloveYellow Counterweight

,Result,Ingredients
0,Amber Horseshoe Balloon,Honey BalloonLucky Horseshoe
1,Amphibian Boots,Sailfish BootsFrog Leg
2,Angler Tackle Bag,High Test Fishing LineTackle BoxAngler Earring
3,Ankh Charm,Armor BracingMedicated BandageThe PlanCounterc...
4,Ankh Shield,Obsidian ShieldAnkh Charm
...,...,...
112,Yoyo Bag,White StringYoyo GloveBlue Counterweight
113,Yoyo Bag,White StringYoyo GloveGreen Counterweight
114,Yoyo Bag,White StringYoyo GlovePurple Counterweight
115,Yoyo Bag,White StringYoyo GloveRed Counterweight
116,Yoyo Bag,White StringYoyo GloveYellow Counterweight

,0,1
0,Tinkerer's Workshop and Ecto MistResultIngredi...,NaN
1,Result,Ingredients
2,Band of Starpower (),Panic NecklaceMana Crystal
3,Music Box (Alt Title),Music Box (Desert)Music Box (Ice)Music Box (Sp...
4,Panic Necklace (),Band of StarpowerLife Crystal

                  Result                                        Ingredients
0   Band of Starpower ()                         Panic NecklaceMana Crystal
1  Music Box (Alt Title)  Music Box (Desert)Music Box (Ice)Music Box (Sp...
2      Panic Necklace ()                      Band of StarpowerLife Crystal